.Contact_Form{
    margin: 5% 20% 10% 20%;
}

.Contact_Form a{
    text-decoration: none;
    color: black;
}

.Form_title{
   text-align: center;
   margin: 5%;
}

.Form_title span{
    color: #73C299;
    font-weight: 600;
}

.icon{
    color: #73C299;
    margin-right: 5%;
}
