@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');


.home-container {
    padding: 8%;
    margin: auto;
    width: 100%;
    background-color: #73C299;
}

.home-description {
    margin-top: 10%;
    text-align: start;
}

.header {
    font-family: 'Shrikhand', cursive;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 5%;
}

.home-description h3 {
    font-family: 'Diphylleia', serif;
    font-size: 1.5vw;
}

.home-description{
    opacity: 0;
    animation: home-description 1s forwards;
}

@keyframes home-description {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width:1040px) {
    .home-img {
        width: 30vw;
    }
}

@media screen and (max-width:768px) {
    .home-img {
        width: 30vw;
    }
}

@media screen and (max-width:425px) {
    .home-img {
        width: 20vw;
    }
    .home-container {
        padding: 8%;
        margin: 0;
        width: 100%;
        background-color: #73C299;
    }
}

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
   background: #f6f6f6;
}

.box{
   width: 70vw;
   height: 20vw;
   margin: 100px auto;
   background: #fff;
   border-radius: 7px;
   box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

.box .heading{
   background: #73C299;
   border-radius: 7px 7px 0px 0px;
   padding: 10px;
   color: #fff;
   text-align: center;
   font-family: "Rubik";
}

.faqs{
   padding: 0px 20px 20px;
}

::-webkit-details-marker{
   float: right;
   margin-top: 3px;
}

details{
   background: #f6f6f6;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-family: "Rubik";
   font-size: 14px;
   letter-spacing: 1px;
   cursor: pointer;
}

details summary{
   outline: none;
}

@media screen and (max-width:768px) {
   details{
      background: #f6f6f6;
      padding: 10px 5vw;
      border-radius: 7px;
      margin-top: 20px;
      font-family: "Rubik";
      font-size: 14px;
      letter-spacing: 1px;
      cursor: pointer;
   }
   .box{
      width: 70vw;
      height: 35vw;
      margin: 100px auto;
      background: #fff;
      border-radius: 7px;
      box-shadow: 1px 2px 4px rgba(0,0,0,.3);
   }
   
 }

 /* Project.css */
 .Projects_Description{
    text-align: center;
    margin-top: 10%;
    opacity: 0;
    animation: Project_Item 7s forwards;
}

.Projects_Description span{
    color: #73C299;
    font-weight: 600;
}

.Project_Container {
    display: flex;
    gap: 4vw;
    margin: 2% 5% 10% 10%;
    position: relative;
    flex-wrap: wrap;
}

.Project_Item {
    position: relative;
    width: calc(33.33% - 4vw);
    height: 25vw;
    opacity: 0;
    animation: Project_Item 7s forwards;
}


@keyframes Project_Item{
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.Project_Item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #73C299;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.Project_Item:hover .overlay {
    opacity: 1;
}

/* Services.css */

.section_container {
    display: flex;
    justify-content: space-between; 
    text-align: center;
    margin: 2% 15%;
  }

  .content_container{
    display: flex;
    justify-content: space-between; 
    text-align: left;
    margin: 0% 5%;
  }

  .Section_content {
    flex: 1; 
    padding: 1vw; 
    border: 1px solid #ccc;
     margin-bottom: 10%;
     margin-right: 5%;
  }

  .Section_content  h3{
    margin-top: 10%;
    margin-bottom: 5%;
    color: #73C299;
    font-size: 2vw;
  }

  .Section_content img{
    width: 5vw;
    margin-top: 10%;
  }
  
  .Section_content:hover {
    background-color:#73C299;
    color: white;
  }

  .Section_content:hover h3{
   color: white;
 }

  .Section_content button{
    color: #73C299;
    background-color: transparent;
    border: none;

  }

  .Section_content:hover button  {
    background-color: #73C299;
    color:white;
  }


  .Section_Tittle{
    text-align: center;
    margin-top: 10%;
  }

  .Section_Tittle span{
   color: #73C299;
   font-weight: 600;
  }


  .section_animation{
   opacity: 0;
   animation: section_animation 3s forwards;
  }

@keyframes section_animation{
   from {
       opacity: 0;
       transform: translateY(10%);
   }
   to {
       opacity: 1;
       transform: translateY(0);
   }
}

.Counter_div{
 background-color:#73C299;
 padding: 5%;
}


.counters {
 display: flex;
 justify-content: space-between;
}

.counter {
 text-align: center;
}

.number {
 font-size: 2em;
 font-weight: bolder;
 color: white; 
 animation: countup 5s ease-in-out forwards;
}

.label{
 font-weight: 1000;
 color: black;
}

@keyframes countup {
 from {
   transform: translateY(50px);
   opacity: 0;
 }
 to {
   transform: translateY(0);
   opacity: 1;
 }
}

@media screen and (max-width:768px) {
 .Section_content {
   flex: 1; 
   padding: 2vw; 
   border: 1px solid #ccc;
    margin-bottom: 10%;
 }

}

/* AboutUs.css */
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
.about-section{
    margin-top: 5% ;
    margin-left: 10%;
    margin-right: 10%;
}

.about-description h1{
    padding-top: 5%;
    padding-bottom: 2%;
}

.about-description h3{
    font-family: 'Diphylleia', serif;
    font-size: 1.2vw;
}

.about-description span{
    border-bottom: 5px solid #73C299;
}

.about-heading{
  margin-left: 47%;
}

.about-title{
    color: #73C299;
    padding: 5px;
    margin-left: 50%;
    font-weight: 600;
}

.about-photo{
    margin-top: 5%;
    margin-left: 8%;
}

.about-photo img {
    height: 60%;
    width: 70%;
}

.details{
    display: flex;
    gap: 2.5vw;
    margin-top: 5%;
}

.bold{
  font-size: 1.2vw;
  font-weight: 500;
}

.animation{
  opacity: 0;
  animation: animation 5s forwards;
}

@keyframes animation {
  from {
      opacity: 0;
      transform: translateX(-20%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@media screen and (max-width:768px) {
    .about-description h1{
        font-size: 2.5vw;
    }
}




 
 


