@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');


.home-container {
    padding: 8%;
    margin: auto;
    width: 100%;
    background-color: #73C299;
}

.home-description {
    margin-top: 10%;
    text-align: start;
}

.home-description h1 {
    font-size: 3vw;
}

.home-description h1 span {
    font-family: 'Shrikhand', cursive;
}

.home-description h3 {
    font-family: 'Diphylleia', serif;
    font-size: 1.5vw;
}

.home-description{
    opacity: 0;
    animation: home-description 1s forwards;
}

@keyframes home-description {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width:1040px) {
    .home-img {
        width: 30vw;
    }
}

@media screen and (max-width:768px) {
    .home-img {
        width: 30vw;
    }
}

@media screen and (max-width:425px) {
    .home-img {
        width: 20vw;
    }
    .home-container {
        padding: 8%;
        margin: 0;
        width: 100%;
        background-color: #73C299;
    }
}

